/** Footer **/
.logo-pie img{
    height: 80px;
    width: 80px;
    margin-left: 50px;
    border-radius: 10px;
    
}

.pie-pagina{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        padding-top: 10px;
        margin-top: 200px;
}

i{
    font-size: 35px;
    color: rgb(211, 13, 13);
    text-align: center;
    justify-content: space-between;
    transition: 0.3s;
    
}

i:hover{
    color: #f8f9fa;
    transition: all .3s ease-in-out;
    transform: scale(1.2); 
}

.redes{
    padding: 10px;
    display: inline-block;
}

.nombre-pie{
    font-size: 20px;
    color: #f8f9fa;
    font-family: "Kanit", sans-serif;
    margin: 0;
 }