/** Main **/
.lema{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    font-family: "Kanit", sans-serif;
    padding-bottom: 80px;
}


main div{
    font-family: 'nunito', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.tarjetas{
    padding-bottom: 20px;  
    
}